:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --background: beige;
  --ancent-color: #0e8743;
  --border:url(./asset/images/border.svg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background: var(--background);
  /* background: #6c4e4e; */
}

/* Hero Page */
.hero-page {
  height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.5rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  background: var(--background);
  /* margin-bottom: 10px; */
}
nav {
  flex: 1;
  text-align: right;
  margin-right: 15px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}
.name{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.name h2{
  color: var(--ancent-color);
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}
.img-logo {
  width: 100%;
}

.logo {
  width: 150px;
  height: 130px;
  /* background: var(--primary-color); */
}

.nav-bar a {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
  line-height: 0.6rem;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 4%;
  font-size: 30px;
  color: var(--secondary-color);
  cursor: pointer;
  text-align: center;
  display: none;
}

/* Carousel */
.carousel-box {

  position: relative; /* Change position to relative */
  height: 100%; /* Ensure carousel-box occupies full height of hero-page */
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* About Us */
.about-us {
  margin-top: 10px;
  width: 100%;
  background: url(./asset/images/bg.jpg);

}
.br-up{
  width: 100%;
  height: 2.5rem;
  background: url(./asset/images/border.svg);
}
.br-down{
  width: 100%;
  transform: rotate(180deg);
  height: 2.5rem;
  background: url(./asset/images/border.svg);
}

.about-us .about-g{
  background: var(--ancent-color);
  height: 4rem;
  width: 100%;
  text-align: center;

}
.about-us h1 {
  /* padding: auto 0; */
  font-size: 45px;
  line-height: normal;
  color: var(--primary-color);
  margin-bottom: 0;
}
.about-box {
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
}
.about-box .about-left img {
  width: 550px;
  padding: 10px 0;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.about-right p{
  font-size: 18px;
}
.ar{
  font-weight: bold;
}

/* services */
.services {
  /* margin-top: 10px; */
  width: 100%;
  /* height: 100%; */
  background: url(./asset/images/bg.jpg);
}
.services h1 {
  font-size: 45px;
  line-height: normal;
  text-align: center;
  background: var(--ancent-color);
  color: var(--primary-color);
  margin-bottom: 0;
  padding: 15px 0;
  font-family: 'Times New Roman', Times, serif;
}

.service-box {
  padding-top: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.ser-left,.ser-middle,.ser-right{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid black; */
  background: #fff;
  padding: 2px;
}
.mini-box {
  /* border: 1px solid black; */
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.mini-box p{
  /* margin-bottom: 0; */
  color: var(--ancent-color);
}
.popup .overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: var(--primary-color);
  width: 450px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
}
.popup .contentl{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: var(--primary-color);
  width: 450px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
}
.popup .contentr{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: var(--primary-color);
  width: 450px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
}


.content{
  height: 100%;
}
.content h3{
  font-size: 30px;
  margin-bottom: 0;
}
.content p{
  padding-right: 5px;

}
.contentl{
  height: 100%;
}
.contentl h3{
  font-size: 30px;
  margin-bottom: 0;
}
.contentl p{
  padding-right: 5px;

}
.contentr{
  height: 100%;
}
.contentr h3{
  font-size: 30px;
  margin-bottom: 0;
}
.contentr p{
  padding-right: 5px;

}


.popup .close-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.popup .close-btn h3{
  margin:0;
  font-size: 30px;
}
.popup.active .overlay{
  display: block;
}
.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
  
}
.popup.active .contentl{
  transition: all 300ms ease-in-out;
  transform: translate(5%,-50%) scale(1);
  
}
.popup.active .contentr{
  transition: all 300ms ease-in-out;
  transform: translate(-5%,-50%) scale(1);
  
}



.mini-box img {
  width: 100%;
  height: 100%;
  /* border: 1px solid black;
  margin: 5px;
  border-radius: 50%; */
  object-fit: contain;
  object-position: center;
}
.mini-box p {
  position: absolute;
  bottom: 0;
}
/* videos */
.youtube-video{
  width: 100%;
}
.youtube-video h1{
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  background: var(--ancent-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
}
.vid-content{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.vid-box{
  width: 320px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 10px;
}
.vid-box video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
/* Result */
.result {
  width: 100%;
}
.result h1{
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  background: var(--ancent-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
}
.result-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-content {
  border: 1px solid black ;
  width: 60%;
  height: 200px;
}











/* Breakpoints */
@media (max-width: 992px) {
  header {
    padding: 01rem 2%;
    height: 7.7rem;
  }
  
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }
  nav {
    margin-right: 0;
  }
  .nav-bar {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s ease;
    background: var(--background);
  }

  #check:checked ~ .nav-bar {
    height: 15rem;
  }

  .nav-bar a {
    display: block;
    font-size: 16px;
    margin: 1.2rem 0;
    text-align: center;
    transform: translateX(50px);
    transition: 0.3s ease;
    opacity: 0;
  }

  #check:checked ~ .nav-bar a {
    transform: translateX(0);
    opacity: 1;
    transition-delay: calc(0.2s * var(--i));
  }
  .name{
    justify-content: flex-start;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .hero-page {
    height: 100vh;
    width: 100%;
  }
  .carousel-item img {
    margin-top: 8.7rem;
    height: calc(100vh - 8.7rem);
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  /* about me */
  .about-us h1 {
    font-size: 25px;
  }
  .about-box {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  .about-box .about-left{
    width: 100%;
  }
  .about-box .about-left img {
    width: 100%;
    height: 200px;
  }
  .about-right p{
    font-size: 15px;
  }
  .services h1{
    font-size: 35px;
  }
  .mini-box {
    width: 120px;
    height: 120px;
  }
  /* video */
  .youtube-video h1{
    font-size: 25px;
    padding: 10px 0;
  }
  .vid-box{
    width: 250px;
    height: 150px;
  }
  /* Results */
  .result h1{
    font-size: 25px;
  }
}

/* For mobile */
@media (max-width: 600px) {
  header{
    height: 6.8rem;
  }
  .hero-page {
    height: 45vh;
    width: 100%;
  }
  .carousel-item img {
    margin-top: 7rem;
    height: calc(45vh - 7rem);
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
.name h2{
  font-size: 18px;
}
/* about me */
.about-us .about-g{
  height: 100px;
}
.about-us h1 {
  text-align: center;
  padding: 25px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 600;
    word-spacing: normal;
  }
  .about-box {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  .about-box .about-left img {
    width: 100%;
    height: 200px;
  }
  .about-right p {
    font-size: 13px;
    text-align: center;
  }
  

  /* services */
  .services h1{
    font-size: 18px;
  }
  .service-box{
    width: 100%;
    /* justify-content: center; */
    gap: 15px;
  }
  .ser-left,.ser-middle,.ser-right{
    gap: 10px;
  }
  .mini-box {
    width: 90px;
    height: 90px;
  }
  .mini-box p{
    margin-bottom: 0;
  }
  .popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: var(--primary-color);
    width:250px;
    height: 150px;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }
  .popup .contentl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: var(--primary-color);
    width:250px;
    height: 150px;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }
  .popup .contentr{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: var(--primary-color);
    width:250px;
    height: 150px;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }
  .content h3{
    font-size: 20px;
  }
  .content p{
    font-size: 10px;
  }
  .contentl h3{
    font-size: 20px;
  }
  .contentl p{
    font-size: 10px;
  }
  .contentr h3{
    font-size: 20px;
  }
  .contentr p{
    font-size: 10px;
  }
  /* video */
  .youtube-video h1{
    font-size: 18px;

  }
  .vid-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* background: #c25c5c; */
  
  }
  .vid-box{
    width: 220px;
    height: 120px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 0 auto;
  }
  /* Results */
  .result h1{
    font-size: 18px;
  }
}
